.header__right {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid #E4DBCD;
    background: #ddd;
    width: 7%;
}

.header__btn {
    text-decoration: none;
    color:#DED3C7;
    font-size: 8px;
}

.admin__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width:1230px;
}

.content__title {
    margin-bottom: 40px;
    text-align: center;
}

.content__title h2 {
    font-weight: lighter;
    font-size: 16px;
    color: #927472;
}

.form__group {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    width: 100%;
}

.form {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.form__item:not:last-of-type {
    margin-right: 20px;
}

.form__item-input {
    flex-shrink: 0;
    width: 300px;
    padding: 10px 15px;
    border: none;
    color: #8E7B76;
    background: #F2F4F5;
    cursor: pointer;
}

.form__item-select {
    flex-shrink: 0;
    width: 100px;
    padding: 10px 15px;
    background: #F2F4F5;
    border: none;
    color:#8E7B76;
    cursor: pointer;
}

.form__item-kinds {
    flex-shrink: 0;
    width: 200px;
    padding: 10px 15px;
    background: #F2F4F5;
    border: none;
    color: #8E7B76;
    cursor: pointer;
}

.form__item-date {
    flex-shrink: 0;
    width: 100%;
    padding: 10px 15px;
    background:#F2F4F5;
    border: none;
    color: #8E7B76;
    cursor: pointer;
}

.form__search-btn {
    width: 10%;
    padding: 10px 15px;
    background:#635449;
    cursor: pointer;
    color: #fff;
    border: none;
}

.reset__btn {
    width: 10%;
    padding: 10px 15px;
    background: #BBADA3;
    cursor: pointer;
    color: #fff;
    border:none;
}

.admin__content--item {
    width: 80%;
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.content__btn-export {
    border: none;
    color: #8E7B76;
    background: #D5CBC1;
    cursor: pointer;
    padding: 5px 20px;
    margin: 25px 0;
}

.admin-table {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    max-width: 1230px;
}

.admin-table__inner {
    align-items: center;
    margin: 0;
    text-align: left;
    width: 100%;
}

.admin-table__thead {
    background:#635449;
    color: #fff;
    width: 100%;
    
}

.admin-table__header,
.admin-table__item {
    text-align: left;
    padding: 10px 20px;
    box-sizing: border-box;
}